--no-deps
fastapi
uvicorn[standard]
python-multipart
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-groq
langgraph
langgraph-prebuilt
langgraph-checkpoint
faiss-cpu
sentence-transformers --no-deps

PyMuPDF
python-dotenv
requests
pydantic